section {
    display: flex;
    align-items: center;
    justify-content: center;
    [id*='-carousel-']{
        outline: none;
    }
    [id*='carousel-left'] {
      transform: rotate(90deg);
    }
    [id*='carousel-right'] {
      transform: rotate(-90deg);
    }
  }